
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Screenshots (keep directory structure with .gitkeep)
/screenshots/**
!/screenshots/.gitkeep

# Environment files
.env.dev
.env.uat
.env.prod

apiLogs/
.env
